name: Deploy NodeJS App to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ubuntu             # correct Ubuntu user
          key: ${{ secrets.SSH_KEY }}
          script: |
            echo "Deploying to $(whoami)@$(hostname)"
            cd /home/ubuntu/github_action
            git pull origin main
            docker compose up -d --build
            docker image prune -f

